

body,
select,
button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: .9em;
}

button {
    margin-bottom: 1em;
    background-color: #CE6843;
    color: #F4E9E5;
    border-radius: 5px;
    font-size: 1.25em;
}

body {
    background-color:#558274
    ;
    margin-top: 0em;
}

nav{
    background-color:#CE6843;
    color:#F4E9E5;
    margin-top: 0;
    margin-bottom: 2em;
    
}
.navbar-nav a{
    color:#F4E9E5 ;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 2em;
}

.navbar-brand{
    color: #122D24;
    font-size: 2em;
    margin-left: 2%;
    font-style: italic;
}

.navButton{
    height: 2em;
    width: 2em;
    border-radius: 15%;
    border: 2px black solid;
}

#inputsContainer,
#resultsContainer,
#resultsWeightTable,
#errorStatsChangeNeeded,
#infoContainer {
    background-color: #F4E9E5;
    color:#0B310A;
    border-radius: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#resultsContainer,
#resultsWeightTable,
#infoContainer,
#errorStatsChangeNeeded {
    text-align: center;
    line-height: 150%;
    padding: 5px 0px 5px 0px;
    visibility: collapse;
}

#resultsWeightTable {
    min-width: 75%;
    padding: 0;
    margin-: 0;
}


label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

h1 {
    margin: 0;
}

h4,
h5 {
    margin: 0px;
    padding: 0px;
}


.standOut {
    color: red;

}



@media only screen and (max-width: 600px) {
    body {}

    .mobileFix {
        text-align: center;
        display: block;
    }

    #resultsWeightTable {
        min-width: 100%
    }

    .navbar-brand{
        color: #122D24;
        font-size: 1.6em;
        margin: auto;
        font-style: italic;
    }

}